@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #b39ab3;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.py {
  padding: 105px 0;
}

.headerIndex {
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  border-top: 8px solid #5385c1;
}

.headerIndex nav {
  padding-top: 80px;
}

.headerOther {
  background: #5385c1;
}

.headerOther nav {
  color: white;
  padding: 15px 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  font-weight: 600;
  font-size: 1rem;
}

nav ul {
  list-style: none;
  font-size: 0.8rem;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav a:hover {
  color: #b39ab3;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  display: block;
}

hgroup {
  text-align: center;
  padding: 115px 0 210px;
}

hgroup h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 30px;
}

hgroup h4 {
  font-size: 1rem;
  color: #b4c0c9;
}

hgroup h4 span {
  text-transform: uppercase;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first article {
  max-width: 100%;
  padding: 0 70px;
}

.first article h2 {
  color: #5385c1;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.first article p {
  margin-bottom: 35px;
  line-height: 2;
  font-weight: 300;
  color: rgba(179, 154, 179, 0.9);
}

.first article:nth-child(1) {
  padding-left: 0;
}

.first article:nth-child(2) {
  border-left: 1px solid rgba(83, 133, 193, 0.3);
  border-right: 1px solid rgba(83, 133, 193, 0.3);
}

.first article:nth-child(3) {
  padding-right: 0;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 100;
}

.title h2 + p {
  color: #b4c0c9;
}

.btn {
  padding: 20px 26px;
  background: #5385c1;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.btn:hover {
  background: #9b9b9b;
}

.team {
  background: #5385c1;
  color: #fff;
}

.team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.team .wrap {
  width: 25%;
  margin-right: 70px;
  border: solid 1px rgba(180, 192, 201, 0.4);
  padding: 50px 25px;
  text-align: center;
}

.team .wrap:last-child {
  margin: 0;
}

.team .wrap img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.team .wrap h3 {
  line-height: 2;
}

.blog .title h2 {
  color: #5385c1;
}

.blog p {
  line-height: 1.7;
  margin-bottom: 35px;
}

.blog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .wrap {
  width: 47%;
}

.blog .wrap img {
  width: 100%;
  margin-bottom: 35px;
}

.blog .wrap h2 {
  color: #5385c1;
  font-weight: 300;
  margin-bottom: 20px;
}

.blog .wrap p {
  font-weight: 300;
}

.element h3 {
  font-size: 1.7rem;
  font-weight: 100;
  color: #5385c1;
  margin-bottom: 30px;
}

.element h4 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #5385c1;
  margin-bottom: 25px;
}

.element p {
  margin-bottom: 35px;
  font-size: 1rem;
  line-height: 1.7;
}

.element .twoColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.element .twoColumn article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 35px;
}

.element .twoColumn article:last-child {
  margin-left: 0px;
}

.element .example strong,
.element .example b {
  font-weight: 600;
  color: #5a5a5a;
}

.element .example sub {
  position: relative;
  top: -1em;
}

.element .example code {
  padding: 5px 10px;
  background: rgba(180, 192, 201, 0.1);
  border: 1px solid #b4c0c9;
}

.element .example hr {
  margin: 35px 0;
}

.element .example .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.element .example .column div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.element .example .headings > * {
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: 300;
  color: #5385c1;
}

.element .example .headings h2 {
  font-size: 1.9rem;
  font-weight: 100;
}

.element .example .headings h3 {
  font-size: 1.5rem;
}

.element .example .headings h4 {
  font-size: 1.2rem;
}

.element .example .headings h5 {
  font-size: 0.95rem;
}

.element .example .headings h6 {
  font-size: 0.75rem;
}

.element .example div:first-child {
  margin-right: 70px;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(83, 133, 193, 0.3);
  margin: 50px 0;
  width: 100%;
}

footer {
  border-top: 0.8px solid rgba(83, 133, 193, 0.3);
  padding: 55px 0;
}

footer p {
  float: left;
  font-size: 0.8rem;
}

footer p a:hover {
  text-decoration: underline;
}

footer ul {
  float: right;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li i {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #5385c1;
  font-size: 1.5rem;
}

footer ul li i:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
/*# sourceMappingURL=style.css.map */